<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User: <%= user.name %></title>
</head>
<body>

    <script>
        const form = document.querySelector('#profile-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault(); // предотвращает отправку формы в стандартном режиме

            const data = {
                name: form.elements.name.value,
                bio: form.elements.bio.value,
                gender: form.elements.gender.value,
            };

            const response = await fetch(form.action, {
                method: form.method,
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            console.log(response)

            if (response.ok) {
                // обработка успешного ответа от сервера
            } else {
                // обработка ошибки от сервера
            }
        });
    </script>

    <h1>User: <%= user.name %></h1>
    <p>Email: <%= user.bio %></p>
    <p>Role: <%= user.gender %></p>

    <h2>Create/Edit Profile</h2>
    <form id="profile-form" method="POST" action="/profile/6431b941d17e07354326abdb">
        <input type="hidden" name="id" value="<%= user._id %>">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio" rows="4" cols="50" required></textarea>
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="">-- Please choose an option --</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="non-binary">Non-binary</option>
            <option value="prefer not to say">Prefer not to say</option>
        </select>
        <br>
        <button type="submit">Submit</button>
      </form>
</body>
</html>
